*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    background-color: hsl(212, 45%, 89%);
    line-height: 1.4;
    font-family: 'Outfit',sans-serif;
    padding: 1rem;
}

img{
    border-radius: 1rem;
       width: 100%;
}

.container{
    /* max-width: 1440px; */
    width: 29%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}


.text-box{
    padding: 1.5rem;
    text-align: center;
}

h3{
   color: hsl(218, 44%, 22%);
   font-weight: 700;
   font-size: 2.2rem;
   margin-bottom: 1rem;
   
}

p{
    font-weight: 400;
    font-size: 1.3rem;
    color: hsl(220, 15%, 55%);
}

/* moblie */

@media only screen and (max-width: 380px){
    html{
        font-size: 50%;
    }
   h3{
    font-size: 1.1rem;
   }
   .text-box{
 padding: 0.2rem;
}
.container{
    width: 34%;
    padding: 1rem;
}
p{
    font-size: .9rem;
}
}